.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  font-family: 'Arial';
font-style: normal;
}

.font-12 {
  font-weight: 700;
font-size: 12px;
line-height: 18px;
}

.font-12-thin {
  font-weight: 300;
font-size: 12px;
line-height: 18px;
}

.font-14 {
  font-weight: 700;
font-size: 14px;
line-height: 20px;
}

.font-14-thin {
  font-weight: 400;
font-size: 14px;
line-height: 20px;
}

.font-16 {
  font-weight: 700;
font-size: 16px;
line-height: 24px;
}

.font-20 {
  font-weight: 700;
font-size: 20px;
line-height: 30px;
}

.font-24 {
  font-weight: 700;
font-size: 24px;
line-height: 36px;
}
.selected-page {
  background-color: #0D28A6;

    width: 4px;
    height: auto;
}

.btn-filter-car {
  color: #0D28A6;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    font-weight: 700;
font-size: 14px;
line-height: 20px;
}

.btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
padding: 8px 12px;
background: #0D28A6;
border: 1px solid #0D28A6;
border-radius: 2px;
color: #FFFFFF;

}

.btn-delete {
  display: flex;
  color: #FA2C5A;
  border: 1px solid #FA2C5A;
border-radius: 2px;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 10px;
}

.btn-edit {
  display: flex;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 12px;
background: #5CB85F;
border-radius: 2px;
color: #FFFFFF;
}

.logo {
  width: 100px;
height: 34px;
background: #CFD4ED;
}